.Button {
    padding: 10px 25px;
    border-radius: var(--border-radius);
    color: var(--white);
    font-size: 1.25em;

    &[disabled] {
        background-color: var(--grey);
    }
}

.Default {
    background-color: var(--blue);
}

.Success {
    background-color: var(--green);
}

.Danger {
    background-color: var(--error-red);
}