@import "../../common/sass/mixins";

.Navigation {
    padding: 15px 0;
    background-color: var(--white);
}

.Container {
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include up-to-tablet {
        justify-content: center;
    }
}

.Logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;

    color: var(--orange);

    span {

        &:nth-child(2) {
            color: var(--green);
        }

        &:nth-child(3) {
            color: var(--blue);
        }

        &:nth-child(4) {
            color: var(--yellow);
        }

    }
}

.Button {
    padding: 10px 25px;
    border-radius: var(--border-radius);
    color: var(--white);
    font-weight: bold;
    font-size: 1.25em;
    background-color: var(--green);
    text-decoration: none;
    transition: background-color .25s ease-out;

}

.NavActionContainer {

    @include up-to-tablet {
        display: none;
    }

    .NavLink {

        text-decoration: underline;
        font-size: 1.25em;
        font-weight: bold;
        color: var(--orange);

        &:hover {
            text-decoration: none;
        }

    }

    & > *:not(:last-child) {
        margin-right: 35px;
    }
}

$burger-menu-height: 45px;

.MobileNavAction{

    @include from-tablet-up {
        display: none;
    }
    
    height: $burger-menu-height;
    width: 38px;
    position: absolute;
    right: 15px;
    padding: 0;

}

.BurgerMenu {
    display: block;
    width: 100%;
    background: var(--green);
    width: 100%;
    height: $burger-menu-height / 8;
    padding: 0;
    position: relative;
    

    &::before, &::after {
        content: "";
        height: $burger-menu-height / 8;
        width: 100%;
        display: block;
        position: absolute;
    }

    &::before {
        top: -250%;
        background-color: var(--orange);
    }
    &::after {
        bottom: -250%;
        background-color: var(--blue);
    }

}