@import "../../../common/sass/mixins";

.TaskItem {
    width: 100%;
    background-color: rgba($color: #FFF, $alpha: .6);
    font-size: 1.5em;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include up-to-tablet {
        padding-right: 8px;

        .Actions {
            position: absolute;
            right: 0;
            border-radius: var(--border-radius);
            margin: 0;
            background-color: var(--white);
            padding: 5px 6px 5px 10px;
            display: none;
            


            &.Show {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
            
        }
    }
    
}

.TaskThinking {

    &::before {
        display: block;
        content: "Updating...";
        color: var(--black);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Actions, .Title {
        opacity: 0;
        visibility: hidden;
    }
}

.Title {
    margin: 0;
}

.Actions {
    margin-left: 20px;
}

.MoreActions {
    width: 45px;
    height: 45px;
    flex-shrink: 0;

    span {
        height: 8px;
        width: 8px;
        display: block;
        background-color: var(--blue);
        border-radius: 50%;
        position: relative;

        &::before, &::after {
            content: "";
            height: 8px;
            width: 8px;
            display: block;
            background-color: inherit;
            border-radius: 50%;
            position: absolute;
        }

        &::before {
            left: -15px;
        }

        &::after {
            right: -15px;
        }
    }

    @include from-tablet-up {
        display: none;
    }
}