@import "../../../common/sass/mixins";

.TaskItem {
    width: 100%;
    background-color: rgba($color: #FFF, $alpha: .6);
    font-size: 1.5em;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include up-to-tablet {

        margin-bottom: 60px;
        border-bottom-right-radius: 0;

        .Actions {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateY(100%);
            margin: 0;
            background-color: inherit;
            padding: 5px 6px 5px 10px;
            border-bottom-right-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }
    }
    
}

.TaskThinking {

    &::before {
        display: block;
        content: "Updating...";
        color: var(--black);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Actions, .Title {
        opacity: 0;
        visibility: hidden;
    }
}

.Title {
    margin: 0;
}

.Actions {
    margin-left: 20px;
}