.Input {
    width: 100%;
    margin-bottom: 20px;

    label {
        font-size: 1.25em;
        color: var(--black);
        width: 100%;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }

}

.checkbox {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;

    input, label, input.InputElement {
        width: auto;
    }

    input {
        cursor: pointer;
        transform: scale(1.25);
    }

    label {
        font-size: .8em;
        flex-grow: 1;
        padding-left: 5px;
        margin-bottom: 0;
        line-height: 1.5em;
    }
}

input {

    

    
    &.InputElement {
        width: 100%;
        border: thin solid var(--yellow);
        font-size: 1.1em;
        padding: 10px;
        border-radius: var(--border-radius);

        &:focus {
            outline: none;
            border: thin dashed var(--blue);
        }
    }
    &.Invalid {
        border-color: var(--error-red) !important;
        background-color: var(--error-red-light);

        &:focus {
            border-style: solid;
        }
    }

}
