.TaskCreator {
    width: 100%;
    padding: 20px var(--list-container-side-padding);
}

.CreatorBox {

    position: relative;
    width: 100%;
    max-width: var(--list-max-width);
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: medium solid var(--orange);
    overflow: hidden;
    padding: 25px 20px 20px;

    
}