.TaskCreator {
    width: 100%;
    padding: 20px var(--list-container-side-padding);
    background-color: var(--white);
}

.CreatorBox {

    position: relative;
    width: 100%;
    max-width: var(--list-max-width);
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: medium solid var(--orange);
    overflow: hidden;
    padding: 25px 20px 20px;

    
}

.CharCounter {

    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    font-weight: bold;

}